.custom-gap {
    gap: 14rem;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

.logo {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.bg-box{
    background-color: #d1dbed;
    color: #1a1a1a;
}

.logo-img {
    height: 60px;
    width: auto;
}

header{
    background-color: #1e3a5f;
}

nav {
    background-color: #467db8;
}

.navbar .nav-link:hover {
    color: #b4eaff !important;
}

footer{
    background-color: #1e3a5f;
}

