.custom-gap {
    gap: 14rem;
}

.logo {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.bg-box{
    background-color: #d1dbed;
    color: #1a1a1a;
}

.logo-img {
    height: 60px;
    width: auto;
}

